.quantity-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #eaeaea;
    color: rgb(75, 75, 75);
    font-size: 18px;
    font-weight: bold;
    padding: 0;
    margin: 0 5px;
    text-align: center;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
}

.quantity-btn:hover {
    background-color: #f8f8f8; 
    color: inherit !important;
    text-decoration: none; 
}

.quantity-display {
    font-size: 18px;
    margin: 0 10px;
    display: inline-block;
}


.quantity-control {
    margin-top: 2%;
    margin-bottom: 2%;
}

.cart-item {
    text-align: center;
}

.remove-btn {
    color: rgb(75, 75, 75);
}

.remove-btn:hover {
    color: rgb(75, 75, 75);
}

.cart-root {
    width: 40% !important;
    background-color: #f2f1f0;
}

@media (max-width: 991px) {
    .cart-root {
        width: 100% !important;
    }
}

.offcanvas.cart-root {
    transform: translateX(100%); /* Start off-screen to the right */
    transition: transform 0.5s ease-in-out; /* Smooth transition */
}

/* When Offcanvas is shown */
.offcanvas.cart-root.show {
    transform: translateX(0); /* Slide into view */
}

/* Optional: Add custom styles for the overlay */
.offcanvas-backdrop {
    transition: opacity 0.5s ease-in-out;
}


.image-in-cart {
    width: 70%;
    height: auto;
    object-fit: contain;
}

.checkout-btn {
    margin-bottom: 10%;
    margin-top: 3%;
}

.cart-empty-text {
    font-size: 24px;
}