.footer {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #a9c3e6;
    position: relative;
    bottom: 0;
    height: 100%;
}

.copyright {
    color: #1c3d5a; 
    font-size: 18px;
    font-weight: 500;
}


.follow-us {
    margin-bottom: 10px;
}
