.hidden-button {
    opacity: 0;
    transition: opacity 0.3s;
    cursor: pointer;
}

.product-root {
    opacity: 1;
    margin-bottom: 40px;
}

.product-root:hover .hidden-button {
    opacity: 1;
}

@media (max-width: 991px) {
    .product-root .hidden-button {
        opacity: 1;
    }
}

.disabled-add-to-cart {
    background-color: #cccccc;
    /* Light gray background */
    color: #666666;
    /* Darker text color */
    cursor: not-allowed;
    /* Shows a "not-allowed" cursor */
    transition: opacity 0.3s;
    opacity: 0 !important;
    /* Maintain full opacity */

}

/* Optionally, override other styles that may apply to a standard button */
.disabled-add-to-cart:hover {
    background-color: #e8ddcf !important;
    /* Prevent hover effect */
    color: #2a3b59 !important;
    opacity: 1 !important;
}


.add-to-cart-btn {
    background-color: #e8ddcf;
    color: #2a3b59;
    border-radius: 0;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    border: 0px;
}

.add-to-cart-btn:active,
.add-to-cart-btn:hover {
    background-color: #e8ddcf !important;
    color: #2a3b59 !important;
}

.add-to-cart-btn:disabled {
    background-color: #909090;
    /* Light gray background */
    color: #ffffff;
    /* Darker text color */
    cursor: not-allowed;
    /* Shows a "not-allowed" cursor */
    transition: opacity 0.3s;   
}